/* TYPOGRAPHY */

.header-1 {
	font-size: 32px;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: 5.76px;
	text-transform: uppercase;
}

.header-2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 152%;
	letter-spacing: 3.84px;
	text-transform: uppercase;
}

.header-3 {
	font-size: 16px;
	font-weight: 600;
	line-height: 152%;
	letter-spacing: 1.28px;
	text-transform: uppercase;
}

.header-4 {
	font-size: 12px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

.paragraph {
	font-size: 16px;
	font-weight: 400;
	line-height: 148%;
}

.action-large {
	font-size: 24px;
	font-weight: 600;
	line-height: 152%;
	letter-spacing: 3.84px;
	text-transform: uppercase;
}

.action-small {
	font-size: 12px;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

.caption {
	font-family: 'Allura', cursive;
	font-size: 24px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 1.2px;
}

.slider-text {
	font-size: 80px;
	font-weight: 600;
	text-transform: uppercase;
}
