:root {
  --primary-color: rgb(255, 70, 70);
  --primary-10-color: rgba(255, 70, 70, 0.1);
  --dark-color: rgb(24, 28, 41);
  --static-white-color: rgb(255, 255, 255);
  --static-white-40-color: rgba(255, 255, 255, 0.4);
  --static-white-20-color: rgba(255, 255, 255, 0.2);
  --tag-purple-color: rgb(67, 97, 255);
  --tag-pink-color: rgb(255, 67, 247);
  --tag-green-color: rgb(6, 164, 79);
  --content-background-color: rgb(236, 243, 248);
  --overlay-color: rgba(24, 28, 41, 0.8);
}

html {
  width: 1440px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--dark-color);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  width: 426px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 1276px;
  margin: 0 auto;
}

.logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 4px;
}

.logo-container {
  padding: 8px 20px;
}

.logo-container:hover {
  cursor: pointer;
}

.menu-item {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 12px;
  margin-left: 4px;
}

.menu-item:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--primary-10-color);
}

footer {
  padding: 60px 0;
}

#contact-cards {
  display: flex;
  justify-content: center;
}

.contact-card {
  width: 417.33px;
  height: 204px;
  background-color: var(--content-background-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 6px;
  box-sizing: border-box;
}

.contact-card img {
  width: 80px;
  height: 80px;
}

.contact-card > * {
  margin-bottom: 12px;
}

.contact-card:hover {
  cursor: pointer;
}

.contact-card:hover > * {
  color: var(--primary-color);
}

#social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#social-media {
  margin-top: 60px;
}

#social-media * {
  color: var(--dark-color);
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.social-icons svg {
  stroke: var(--dark-color);
}

.social-icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.social-icon-container:hover {
  cursor: pointer;
}

.social-icon-container:hover svg {
  stroke: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

a:active {
  text-decoration: none;
  color: var(--dark-color);
}

#social-media > a:hover {
  color: var(--primary-color);
  cursor: pointer;
}
/* 
* {
  border: 1px solid black;
} */

/* TYPOGRAPHY */

.header-1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 5.76px;
  text-transform: uppercase;
}

.header-2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.header-3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}

.header-4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.action-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.caption {
  font-family: "Allura", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
}

.gift:hover {
  cursor: pointer;
}

.gift:hover .gift-name {
  color: var(--primary-color);
}

.gift {
  width: 310px;
  height: 342px;
  background-color: var(--content-background-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gift > img {
  width: 310px;
  height: 230px;
  display: box;
}

.bottom-panel {
  height: 112px;
  background-color: var(--static-white-color);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.gift-name {
  color: var(--dark-color);
}

.for-work {
  color: var(--tag-purple-color);
  margin-bottom: 8px;
}

.for-health {
  color: var(--tag-green-color);
  margin-bottom: 8px;
}

.for-harmony {
  color: var(--tag-pink-color);
  margin-bottom: 8px;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}