:root {
  font-family: 'Montserrat', sans-serif;
  --primary-color: rgb(255, 70, 70);
  --primary-10-color: rgba(255, 70, 70, 0.1);
  --dark-color: rgb(24, 28, 41);
  --static-white-color: rgb(255, 255, 255);
  --static-white-40-color: rgba(255, 255, 255, 0.4);
  --static-white-20-color: rgba(255, 255, 255, 0.2);
  --tag-purple-color: rgb(67, 97, 255);
  --tag-pink-color: rgb(255, 67, 247);
  --tag-green-color: rgb(6, 164, 79);
  --content-background-color: rgb(236, 243, 248);
  --overlay-color: rgba(24, 28, 41, 0.8);
}

html {
  width: min(1440px, 100vw);
  margin: 0 auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-content: center;
}

body {
  color: var(--dark-color);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  width: 426px;
  text-align: center;
}

header {
  width: min(1276px, 100%);
  margin: 0 auto;
  padding: 0 8px;
  height: 64px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 4px;
}

.logo-container {
  padding: 8px 20px;
  display: block;
  justify-self: start;
}

.logo-container:hover {
  cursor: pointer;
}

.menu-item {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 12px;
  margin-left: 4px;
  transition:
    color 0.5s ease,
    background-color 0.5s ease;
}

.menu {
  justify-self: end;
}

.menu-burger-mobile {
  display: none;
}

.menu-item:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--primary-10-color);
}

footer {
  padding: 60px 8px;
}

#contact-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(340px, 1fr));
  width: min(1276px, 100%);
  gap: 12px;
  margin: 0 auto;
}

.contact-card {
  height: 204px;
  background-color: var(--content-background-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.contact-card img {
  width: 80px;
  height: 80px;
}

.contact-card > * {
  margin-bottom: 12px;
  transition: color 0.5s ease;
}

.contact-card:hover {
  cursor: pointer;
}

.contact-card:hover > * {
  color: var(--primary-color);
}

#social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

#social-media * {
  color: var(--dark-color);
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.social-icons svg {
  stroke: var(--dark-color);
}

.social-icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.social-icon-container:hover {
  cursor: pointer;
}

.social-icon-container svg {
  transition: stroke 0.5s ease;
}

.social-icon-container:hover svg {
  stroke: var(--primary-color);
}

a {
  transition: color 0.5s ease;
}

a,
a:active {
  text-decoration: none;
  color: var(--dark-color);
}

#social-media > a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* TYPOGRAPHY */
.header-1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 5.76px;
  text-transform: uppercase;
}

.header-2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.header-3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}

.header-4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.action-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.caption {
  font-family: 'Allura', cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
}

.gift:hover {
  cursor: pointer;
}

.gift:hover .gift-name {
  color: var(--primary-color);
}

.gift {
  width: 310px;
  height: 342px;
  background-color: var(--content-background-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gift > img {
  width: 310px;
  height: 230px;
  display: box;
}

.bottom-panel {
  height: 112px;
  background-color: var(--static-white-color);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.gift-name {
  color: var(--dark-color);
  transition: color 0.5s ease;
}

.for-work {
  color: var(--tag-purple-color);
  margin-bottom: 8px;
}

.for-health {
  color: var(--tag-green-color);
  margin-bottom: 8px;
}

.for-harmony {
  color: var(--tag-pink-color);
  margin-bottom: 8px;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 1059px) {
  #contact-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  html {
    width: 100%;
  }

  .menu-burger-mobile {
    display: block;
    justify-self: end;
    padding: 8px;
  }

  .menu {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  html {
    width: 100%;
  }
  header {
    width: 100%;
  }
}
