main {
  background:
    url('img/bg-garland.png') no-repeat center top,
    var(--primary-color);
  background-size: contain;
  border-radius: 20px;
  padding: 60px 0;
}

h1 {
  width: min(426px, 100%);
  text-align: center;
}

#Gifts {
  color: var(--static-white-color);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;
}

#Gifts > * {
  margin-bottom: 20px;
}

#tabs {
  width: min(474px, 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 0 8px 20px 8px;
}

.tab {
  border-radius: 12px;
  padding: 12px 20px;
  transition: background-color 0.5s ease;
  white-space: nowrap;
}

#gifts-box {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px);
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  width: min(1276px, 100%);
}

@media screen and (max-width: 767px) {
  #tabs {
    gap: clamp(0, 1vw, 8px);
  }
  .tab {
    padding: 12px clamp(8px, 2.1vw, 20px);
  }
}

@media screen and (max-width: 395px) {
  #tabs {
    gap: 0;
  }
}

@media screen and (pointer: fine) {
  .tab:hover {
    background-color: var(--static-white-20-color);
    cursor: pointer;
  }
}
